<div class="pessoas-container">
  <mat-card class="pessoas-card">
    <app-page-header
      title="Pessoas"
      subtitle="Gerencie as pessoas cadastradas no sistema"
      buttonLabel="Nova Pessoa"
      buttonIcon="person_add"
      (buttonClick)="onNovaPessoa()">
    </app-page-header>

    <mat-card-content>
      
      <div class="filter-container">
        <mat-button-toggle-group [(ngModel)]="filtroIdoso" (change)="aplicarFiltro()">
          <mat-button-toggle [value]="FiltroPessoasEnum.TODOS">
            Todos
          </mat-button-toggle>
          <mat-button-toggle [value]="FiltroPessoasEnum.IDOSOS">
            Idosos
          </mat-button-toggle>
          <mat-button-toggle [value]="FiltroPessoasEnum.NAO_IDOSOS">
            Não Idosos
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <app-data-table
        [columns]="columns"
        [dataSource]="dataSource.data"
        [totalItems]="totalItems"
        [pageSize]="pageSize"
        (pageChange)="onPageChange($event)"
        (edit)="onEdit($event)"
        (delete)="onDelete($event)">
        <ng-template #idade let-item>
          <span [class.idade-idoso]="item.idoso">{{item.idade}} anos</span>
        </ng-template>
        <ng-template #idoso let-item>
          <span class="status-badge" [class.idoso]="item.idoso" [class.nao-idoso]="!item.idoso">
            {{item.idoso ? 'Sim' : 'Não'}}
          </span>
        </ng-template>
      </app-data-table>
    </mat-card-content>
  </mat-card>
</div>
